* {box-sizing: border-box;}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;

}

/* ===============
    Typography    
    ============== */


/* ===============
    Layout   
    ============== */    
nav {
    display: flex;
    justify-content: space-between;
    border: solid red;
}  

.logo {
    width: 100px;
    height: 100px;
}

.nav-list {
    display: flex;

    & li {
        list-style: none;
        border: solid black;
        margin-right: 1em;
    }
}



/* --- Login Page --- */
/* Login form & Create Account form*/

.create-act-title,
.log-in-title{
    text-align: center;
}


.login-form,
.create-account-form {
    width: 20%;
    margin-top: 2em;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    /*border: solid black;*/
}

.login-lbl,
.create-act-lbl {

}

.login-input,
.create-act-input {
    margin-bottom: 1em;
    padding: .5em;
}

.login-submit-btn,
.create-act-submit-btn {
    align-self: center;
}


/* --- Login Page --- */
.user-dashboard-container {
    display: grid;
    grid-template-columns: minmax(2em,1fr) minmax(20%,1fr) minmax(60%,1fr) minmax(2em,1fr);
    margin-inline: auto;
}

.user-menu {
    grid-column: 2;
    border: solid black;
}

.user-content{
    grid-column: 3;
    border: solid green;
}

/* --- Search Page --- */

.movie-info-container,
.buddy-notes-container {
    /*border: solid red;*/
    display: flex;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 5em;
    border-bottom: solid 1px gainsboro;
    padding-inline: 1em;
    padding-bottom: .5em;
}

.movie_info_text,
.buddy-notes-movieinfo-text {
    /*border: solid blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: .5em;

    & * {
        /*border: solid black;*/
        margin-bottom: 0;
        margin-top: 0;
        

    }
}

.movie_info_title_wrapper,
.buddy-notes-title-wrapper {
    display: flex;
    /*border: solid green;*/
   
}

.section-movie-title-no,
.buddy-notes-section-title-no {
    margin-right: .2em;
    /*border: solid red;*/
}

.movie-info,
.buddy-notes-movieinfo {
    /*border: solid green;*/
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.search-movie-title {
    /*margin-top: 0;*/
}

.search-controls {
    align-self: center;
}

.controls-btn {
    align-self: center;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.movie-poster-div,
.buddy-notes-movieposter {
   
   /*border: solid red;*/

    & img {
        height: 100px;
        width: 80px;
        object-fit: contain;
    }
}

.popup-menu-wrapper {
    display: flex;
    border: solid red;
}

.popup_menu-list {
    border: solid yellow;
}

.date-div {
    border: solid black;
}
.watched-year-movie-display {
    display: grid;
    grid-template-columns: minmax(1em,1fr) repeat(5, minmax(20%,1fr)) minmax(1em,1fr);
}

.section-movie-container {
    grid-column: span 1;
}

.section-movie-container:first-child {
    grid-column: 2 / span 1; 
}

/* -------- Movie Buddies ----------- */
.movie-buddies-title-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.moviebuddy_container,
.movie-buddies-container,
.movie_buddyrequests_container {
    display: flex;
    /*border: red solid;*/
}

.moviebuddy_profile {
    /*border: solid black;*/
}

.moviebuddy_profilepic {
    /*border: solid green;*/
}

.moviebuddy_info,
.movie-buddies-info,
.movie-buddyrequest-info {
    /*border: solid blue;*/
    margin-top: 0;
}

.movie-buddyname,
.movie_buddyuser_name,
.movie-buddies-name,
.movie-buddies-name,
.movie-buddyrequest-name,
.movie-buddyrequest-username {
    /*border: solid red;*/
    margin-top: 0;
    margin-bottom: .2em;
}

.movie-buddy-status,
.movie-buddies-status,
.accept-buddyrequest {
    margin-left: .5em;
    /*border: solid black;*/
}


/* User profile */
.login-user-profile {
    border: solid red;
}

.login-user-profile-pic {
    border: solid black;
}

.login-user-profile-info {
    border: solid green;
    & * {
        border: red solid;
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* Recommendations */
.recommendie_wrapper,
.recommendie_div {
    display: flex;
}

.recommendie_wrapper {
    /*border: solid green;*/
    align-items: center;
}

.checkbox-div {
    /*border: solid blueviolet;*/
}

.recommendie_div {
    /*border: solid red;*/
    height: fit-content;
    align-items: center;
}

.recommendie_profile_div {
    /*border: solid blue;*/
    height: fit-content;
}

.recommendie_profile_pic {
    /*border: solid black;*/
}

.recommendie-name,
.recommendie_username {
    /*border: solid green;*/
    margin-top: 0;

}

.recommendie-name {
    margin-bottom: .5rem;
}


