* {box-sizing: border-box;}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  
}

/* ===============
    Typography    
    ============== */
.log-in-title {
    margin-top: 1em;
    /*border: solid red;*/
}

/* ===============
    Layout   
    ============== */  
/* --- Login Page --- */

.main-header {
    /*border: solid black;*/
    position: fixed;
    width: 100%;
    z-index: 90;
    background-color: #fff;
    height:fit-content;
    padding-bottom: 0;
    padding-top: 1em;
    
    
}

.login-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr)  minmax(90%, 1fr) minmax(1em, 1fr);
    /*border: solid black;*/
}

.login-info,
.login-image {
    grid-column: 2;
}

.login-info {
    display: flex;
    flex-direction: column;
}

.login-image {
    display: none;
}


.login-form {
    width: 90%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    /*border: solid black;*/

}

.login-form-lbl,
.login-form-input {
    margin-bottom: .5em;
    /*border: solid red;*/
}

.login-form-ctl {
    width: 80%;
    padding: .5em;
    margin-bottom: 1em;
    border: solid #c6e0ff;
    border: solid 1.5px rgb(187, 184, 184);
}

.login-form-ctl:focus {
    outline: solid 2px #1b6ef3ff;
    
}


.login-form-btn {
    width: 80%;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #1744e5;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border: none;
    font-weight: 700;
    letter-spacing: .8pt;
}

.login-page-create-acc {
    /*border: solid black;*/
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 1em;
    border-top: solid 1px rgb(187, 183, 183);
}

.create-title {
    margin-top: 1em;
    width: 80%;
    /*border: solid red;*/
    text-align: center;
    margin-bottom: .3em;

}

.errors {
    & li {
        list-style-image: url(../Images/Icons/cancel.png);
    }
}

.create-link {
   width: 80%; 
   /*border: solid yellow;*/
   text-align: center;
   border: solid 1px grey;
   border: solid 1.5px rgb(187, 184, 184);
   padding-top: .5em;
   padding-bottom: .5em;
   text-decoration: none;
   color: #1744e5;
   font-weight: bold;

}

.show-password-div {
     /*border: solid black;*/ 
     margin-bottom: 1.3em;
     margin-top: -.7em;
}

.password-toggle-div {
    /*border: solid black;*/
    align-self: flex-start;
}


.password-toggle {
    /*outline: solid black;*/
}

.toggle-password-lbl {
    /*border: solid black;*/
    font-size: .9rem;
}

/* Create Account Page */
.create-user-div {
    margin-inline: auto;
    border: solid black;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(184, 181, 181);
    border-radius: 2%;
}

.create-user-logo-div,
.login-logo-div {
    text-align: center;
    /*border: solid red;*/
}

.create-user-logo {
    /*border: solid black;*/
    height: 140px;
    width: 140px;
}

.create-acc-form-lbl {
    margin-bottom: .5em;
    width: 100%;
    /*border: solid black;*/
}

.create-acc-form-ctl {
    padding: .5em;
    width: 100%;
    margin-bottom: .5em;
    border: solid 1.5px rgb(187, 184, 184);
    
}

.create-acc-form-ctl:focus {
    outline: solid 2px #1b6ef3ff;
}

.create-acc-form {
    /*border: solid blue;*/
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account-btn {
    margin-top: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-inline: 1.5em;
    background-color: #1744e5;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    letter-spacing: 1pt;
}

.password-guideline {
    list-style-type:square;

}

.password-guideline::marker {
    color: #10a075;
}

.sign-in-link {
    text-decoration: none;
    color: #1744e5;
    margin-left: .5em;
}

/* Edit profile page*/
.edit_profile_div {
    /*border: solid red;*/
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-inline: auto;
    padding: 1em;
}

.edit_profile_nav {
    /*border: solid blue;*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 0;
}

.edit-profile-nav-item {
    list-style: none;
    text-decoration: none;
    background-color: #c6e0ff;
   
    padding-top: .5em;
    padding-bottom: .5em;
    padding-inline: 1em;
    /*border: solid black 1px;*/
    border-radius: 5%;

    & a {
        text-decoration: none;
        background-color: #c6e0ff;
    }
}

.edit-profile-pic-div {
    display: flex;
    flex-direction: column;
}

.profile-img-update {
    /*border: solid red;*/
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: solid black;
    
}

.update-profile-pic-div {
    border: solid gainsboro 1px;
    width: 40%;
    padding: 1em;
  
}

.profile-pic-update-options {
    /*border: solid blue;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    
}

.close-profilepic-btn {
    width: fit-content;
    /*border: solid red;*/
    text-align: right;
}



.update-profilepic-li {
    list-style: none;
    /*border: solid yellowgreen;*/
    text-align: center;
    margin-bottom: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-inline: 1em;
    background-color: #d3d3ff;

    & a {
        color: #000;
    }

    
    
}

.profile-pic-ctls {
    text-decoration: none;
    /*border: solid blue;*/

}

.update-profile-pic-btn,
.edit-password-btn {
    text-decoration: none;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-inline: 1em;
    border: solid gainsboro 1px;
    width: fit-content;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #fff;
    background-color: #1b6ef3ff;



}



.update-profile-form {
    /*border: solid black;*/
    display: flex;
    flex-direction: column;
    width: 100%;
   
    
}

.edit-profile-form-lbl {
    margin-bottom: .5em;
    /*border: solid blue;*/
}

.profile-update-form-ctl {
    margin-bottom: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-inline: 1em;
}

/* Veirify username page */
.verify-username-div {
    width: 90%;
    display: flex;
    flex-direction: column;
    /*border: solid red;*/
    margin-inline: auto;
    align-items: center;
}

.verify-username-form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.verify-username-form-lbl {
    /*border: solid blue;*/
    margin-bottom: .5em;
    align-self: center;
}

.verify-username-form-ctl {
    /*border: solid red;*/
    padding-inline: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.verification-nav {
    /*border: solid greenyellow;*/
    margin-top: 2em;
    margin-bottom: 2em;
    height: max-content;
    margin-left: 1em;
}

.nav-btn {
    border: solid black 1px;
    padding-inline: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: 2em;
    text-decoration: none;
}

.verify-username-btn {
    align-self: center;
    width: 50%;
    margin-top: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}


/* Verify account page*/
.verify-account-div {
    /*border: solid blue;*/
    width: 90%;
    margin-inline: auto;
    margin-top: 1em;
    padding: 1em;
}

.verify-account-form {
    display: flex;
    flex-direction: column;
    /*border: solid red;*/
}

.verify-acc-form-ctl {
    margin-bottom: 1em;
    margin-top: .3em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.verify-account-btn {
    width: 50%;
    border: solid black 1px;
    padding-top: .5em;
    padding-bottom: .5em;
    align-self: center;
}

.verification-title {
    text-align: center;
}

/* New password page*/
.new-password-div {
    /*border: solid red;*/
    width: 90%;
    margin-top: 1em;
    margin-inline: auto;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-inline: auto;
}

.update-password-form-ctl {
    margin-bottom: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.reset-password-btn {
    width: 45%;
    padding-top: .5em;
    padding-bottom: .5em;
}



/* Navigation */      
nav {
    display: flex;
    /*border: solid red;*/
    justify-content: space-between;
      
  
}  

.logo {
    width: 80px;
    height: 80px;
    /*border: solid green;*/
    & img {
        height: 100%;
        width: 100%;
        object-fit:contain;
    }

}

.nav-list {
    display: flex;
    /*border: solid blue;*/
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    align-self: flex-start;

    & li {
        list-style: none;
        /*border: solid black;*/
        margin-right: 2em;
        
    }
}

.nav-user-info {
    /*border: solid blue;*/
    margin-bottom: 0;
    
   }


.mobile-logout {
    justify-items: left;
    /*border: red solid;*/
    width: fit-content;
}

.mobile-menu {
    /*border: solid red;*/
    position: fixed;
    top: 0;
    right: 0;
    height: fit-content;
    width: 250px;
    z-index: 999;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 1em;
    display: none;
    padding-inline: 1em;
    backdrop-filter:blur(8px) ;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    
    
}

.close-mobile-menu {
    /*border: solid red;*/
    margin-right: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    display: flex;
    justify-content: right;
              
}

.close-mobile-menu-link {
    /*border: solid blue;*/
  
}

.mobile-display-nav {
    /*border: solid blue;*/
    display: flex;
    margin-left: 0;
  
   }

.nav-logout-btn {
    align-self: center;
    padding-inline: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    /*border: solid black 1px;*/
    border-radius: 5px;
    background-color: #1744e5;

    & a {
        text-decoration: none;
        color: #fff;
    }

}

.desktop-logout {
    display: none;
}

/* User profile */
.login-user-profile {
    /*border: solid green;*/
    margin-top: .1em;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.login-user-profile-pic {
    border: solid gainsboro 1px;
    border-radius: 50%;
    padding: .2em;
   
    height: 70px;
    width: 70px;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }
    
}

.login-user-profile-info {
    align-self: center;
    /*border: solid green;*/
    margin-left: .5em;
    & * {
        /*border: red solid;*/
        margin-top: 0;
        margin-bottom: 0;
       
    }
}

.dashboard-user-profile {
    text-decoration: none;
  
}

.dashboard-user-profile:visited {
    color: black;
}

.forgot-password-link {
    text-decoration: none;
    padding-bottom: .5em;
    /*border: solid blue;*/
    margin-top: -0.7em;
    font-size: .9rem;
    color: #1744e5;
   
}

/* User profile page*/

.user-profile-page-div {
    display: grid;
    grid-template-columns:minmax(1em, 1fr)  minmax(90%, 1fr) minmax(1em, 1fr);
    margin-inline: auto;
    width:80%;
    /*border: solid blue;*/
    margin-bottom: 1em;
}

.profile-page-nav {
    /*border: solid red;*/
    grid-column: 2;
    margin-top: 1.5em;
    height: max-content;
    margin-bottom: 2em;
}

.profile-page-header {
    /*border: solid red;*/
    grid-column: 2;
    padding-inline: 1.5em;
}

.profile-page-title {
    /*border: solid black;*/
    color: #1b6ef3ff;
    margin-bottom: 0;
}



.user-profile-page-nav-btn,
.acc-update-nav-btn {
    text-decoration: none;
    width: fit-content;
    padding: .5em;
    /*border: solid black;*/
    border: solid black 1px;
    border-radius: 5%;
    background-color: #d3e3fdff;
    color: #000;
    border: none;
    
}

.user-profile-page-img-div {
    margin-top: 0;
    display: flex;
    /*border: solid red;*/
    margin-bottom: 1em;
    
}



.user-profile-page-stats {
    grid-column: 2;
}

.profile-page-img {
    border: solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 1em;
    border: solid 2px gainsboro;
}

.user-profile-page-info {
    /*border: solid black;*/
    margin-left: 2em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.user-profile-page-info-name {
    /*border: solid red;*/
    margin-bottom: .3em;
}

.user-profile-page-info-username {
    margin-top: 0;
}

.edit-profile-btn {
    text-decoration: none;
    padding: .5em;
    border: solid black 1px;
    color: #fff;
    text-align: center;
    border: none;
    background-color: #1744e5;

    
}

.user-profile-page-stats {
    /*border: solid black;*/
    margin-top: 2em;
    padding-left: 2em;
    border: solid 2px gainsboro;
    border-radius: 25px;
}



/* --- Dashboard --- */
.user-dashboard-container {
    display: grid;
    grid-template-columns: minmax(1em,1fr) minmax(90%,1fr)  minmax(1em, 1fr) ;
    margin-inline: auto;
    /*border: solid red;*/
    padding-top: 7em;
    
}

main {
    /*border: solid black;*/
   
}

.user-menu {
    grid-column: 2;
    /*border: solid black;*/
    padding-left: 2em;
    padding-top: 2em;
    display: none;
   
}

.search-link {
    border: solid blue;
    padding-left: 1em;  
    padding-right: 1em; 
    padding-top: .5em;
    padding-bottom: .5em; 
    text-decoration: none;
    color: #000;
    border-radius: 25px;
    border: solid 1.5px rgb(187, 184, 184);
    width: 90%;
    display: block;
    
}

.mobile-search-link {
    /*border: solid black;*/
    align-self: center;
    border: none;
}

.search-icon {
    /*border: solid red;*/
    margin-right: .5em;
    & img {
        height: 20px;
        width: 20px;
        
    }

}

.user-content{
    grid-column: 2;
    /*border: solid green;*/
    margin-top: 1.5em;
  
   
}

.dashboard-menu-title {
    /*border: solid black;*/
    width: 60%;
    padding-left: 1em;
    margin-top: 2em;
    display: none;
    
}

.dashboard-menu-list {
    margin-top: .8em;
    list-style: none;
    padding-left: 0;
    /*border: solid blue;*/
    width: 90%;
    
}

.mobile-home-icon-link {
    align-self: center;
    /*border: solid red;*/
    margin-right: .3em;
}

.mobile-menu-btn {
    align-self: center;
}

.home-icon-mobile-display,
.search-mobile-icon,
.menu-icon {
    height: 25px;
    width: 25px;
    object-fit: contain;
    /*border: solid black;*/
    
}

.search-mobile-icon {
    margin-right: .3em;
}

.desktop-menu {
    display: none;
}

.dashboard-menu-li {
    /*border: solid black;*/
    border-radius: 5px;
    padding-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: .5em;

    
  
    & a {
        text-decoration: none;
        color: #000;
        /*border: solid red;*/
        
    }

    & a:visited {
        color: #000;
    }

    
}

.dashboard-menu-li:hover,
.dashboard-menu-li:focus,
.dashboard-menu-li:visited {
    background-color: #8cc0ff54;
    & a {
        font-weight: bold;
    }
}

.dashboard-icon {
    margin-right: 1em;
    /*border: solid green;*/

    & img {
        height: 25px;
        width: 25px;
        margin-bottom: -.3em;
    }
}

/* ---- Home Page ----- */
.home-title {
    margin-top: 0;
    /*border: solid black;*/
}

.home-section {
    /*border: solid 1px red;*/
    border-radius: 25Px;
    padding-inline: 1em;
    padding-top: 1em;
    padding-bottom: 4em;
    margin-left: -1em;
   
    
    background-color: #ecf3feff;
    color: #000;
    display: flex;
   
    width: 105%;
}

.home-info {
    /*border: solid black;*/
    text-align: justify;
    width: 110%;
    
}

.app-title {
    font-size: 1.5rem;
    color: #1744e5;
    font-weight: bold;        
}

.app-instruction-title {
    margin-bottom: 0;
}

.app-instruction-subtitle {
    margin-bottom: 0;
    /*border: solid green;*/
}

.movie-buddie-instruction {
    margin-top: 0;
    /*border: solid red;*/
}

.app-instruction-list {
    /*border: solid red;*/
    margin-top: 0;
}

.app-info-span {
    font-weight: bold;
}

.app-guide-icon {
    /*border: solid red;*/
    height: 30px;
    width: 30px;
    margin-bottom: -.6em;
    
}

.app-guide-icon-search {
    /*border: solid red;*/
    height: 20px;
    width: 20px;
    margin-bottom: -.3em;
}

.home-img {
    display: none;
    
    
}


/* --- Search Page --- */
.search-input {
    width: 80%;
    padding-left: 1em;
    padding-top: .8em;
    padding-bottom: .8em;
    border-radius: 25px;
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
    
}

.search-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: .7rem;
}
.movieList {
    /*border: #10a075 solid;*/
}

.movie-info-container {
    width: 100%;
}

.movie-info-container,
.buddy-notes-container {
    /*border: solid red;*/
    display: flex;
    margin-bottom: 1em;
    margin-right: 5em;
    border-bottom: solid 1px gainsboro;
    padding-inline: 0;
    padding-bottom: .5em;
}

.movie_info_text,
.buddy-notes-movieinfo-text {
    /*border: solid blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: .5em;

    & * {
        /*border: solid black;*/
        margin-bottom: 0;
        margin-top: 0;
        

    }
}


.movie_info_title_wrapper,
.buddy-notes-title-wrapper {
    display: flex;
    /*border: solid green;*/
   
}

.section-movie-title-no,
.buddy-notes-section-title-no {
    margin-right: .2em;
    /*border: solid red;*/
}

.movie-info,
.buddy-notes-movieinfo {
    /*border: solid green;*/
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.search-movie-title {
    font-size: 1rem;
    /*margin-top: 0;*/
}

.movie-year,
.movie-stars {
    font-size: .9rem;
    
}



.search-controls {
    align-self: center;
}

.controls-btn {
    align-self: center;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.movie-poster-div,
.buddy-notes-movieposter {
   
   /*border: solid purple;*/
   height: 15vh;
   width: 20%;
   

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        /*border: solid yellow;*/
    }
}

.popup-menu-wrapper,
.section-popup-menu-wrapper {
    display: flex;
    /*border: solid black 1px;*/
    /*width: fit-content;*/
    border-radius: 5%;
    justify-content: flex-end;
    background-color: #fff;
  

}

.recommendations-popup-menu-wrapper {
    width: fit-content;
}

.popup_menu-list,
.section-popup-menu-list {
    /*border: solid yellow;*/
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    border: solid 2px gainsboro;
    padding-top: 1em;
    padding-bottom: 1em;
     

}

.recommendations-popup-menu-list {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    border: solid 2px gainsboro;
    padding-top: 1em;
    padding-bottom: 1em;
}

.popup-menu-li {
    /*border: solid red;*/
    padding-inline: 1em;
    padding-top: .5em;
    padding-bottom: .5em;

    & a {
        text-decoration: none;
        color: #000;
        font-size: .9rem;
    }

}

.popup-menu-li:hover {
    background-color: #c6e0ff;
    font-weight: bold;
}

.date-div {
    /*border: solid black;*/
    font-size: .9rem;
    padding-top: 1.2em;

}

/* Sections*/
.section-header {
    /*border: solid black;*/
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    padding-top: 1em;
    border-radius: 25px;
    background-color: #c6e0ff;
}

.favourite-section-header {
    background-color: yellow;
}

.currently-watching-section-header {
    background-color: #d3d3ff;
}

.section-header-img {
    /*border: solid blue;*/
    height: 10vh;
    width: 25%;
    padding: 0;

    & img {
        /*border: greenyellow;*/
        height: 100%;
        width: 100%;
        object-fit: contain;
        padding: 0;
       
     
    }
}

.section-header-info {
   /* border: solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & * {
       /* border: solid yellow;*/
    }
    
}


.section-title {
    /*border: solid black;*/
    margin-bottom: 0;
    font-size: 2rem;
  
}

.section-total {
    margin-top: 0;
}

.section-search {
    padding-left: 1em;
    margin-top: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 80%;
    border-radius: 25px;
    border: solid 2px rgb(187, 184, 184);
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    margin-bottom: 1rem;
    
}

.section-search::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
}

/* Watch section */
.watched-view-btns {
    /*border: solid red;*/
    height: max-content;
    margin-bottom: 2em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}

.watch-view-btn {
    text-decoration: none;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-inline: .5em;
    /*border: 1px solid black;*/
    color: #fff;
    background-color: #1b6ef3ff;
    font-weight: 400;
    margin-bottom: .6em;
    width: 60%

}

.watch-view-btn:hover {
    font-weight: bold;
}

.watched-year-movie-display {
    
}

.watched-movie-years {
    display: flex;

    & * {
          margin-right: 1em;
    }
   
        
}

.section-movie-container {
    grid-column: span 1;
}

.section-movie-container:first-child {
    grid-column: 2 / span 1; 
}

.watched-date-div {
    /*border: solid blue;*/
    margin-top: 1.5em;
}

.section-watched-date {
    /*border: solid black;*/
}

/* -------- Watched by year -------- */
.watchedyear-movie-display {
    /*border: solid black;*/
}

.month-movies-div {
    /*border: solid blue;*/
    padding-bottom: 1em;
    border-bottom: solid 1px gainsboro;
    margin-top: 0;
    margin-bottom: .8em;
}

.month-movie-container {
    /*border: solid red;*/
    display: flex;
    margin-top: 0;
    margin-bottom: .5em;

}
.month-movie-poster {
    /*border: solid purple;*/
    height: 17vh;
    width: 25%;
    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        /*border: solid green;*/
    }

}


.month-movie-info {
    /*border: solid black;*/
    padding-left: .5em;
}

.month-title {
    /*border: solid black;*/
    padding-left: 1em;
    margin-top: 0;
}

.month-movie-title-div {
    /*border: solid blue;*/
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.month-movie-no {
    /*border: solid black;*/
    margin-bottom: 0;
}

.month-movie-title {
    /*border: solid red;*/
    margin-bottom: 0;
}

.month-movie-year,
.month-movie-stars {
    /*border: solid blue;*/
    margin-top: 0;
    margin-bottom: 0;
    
}

.movie-year-links {
    /*border: solid red;*/
    display: flex;
   
}

.watched-year-form {
    /*border: solid green;*/
    margin-left: 1em;
    & a {
        padding: .5em;
        /*border: solid black;*/
        text-decoration: none;
        color: #000;
        background-color: #c6e0ff;
    }

    & a:hover {
        background-color: #1744e5;
        color: #fff;
        font-weight: bold;
    }

    & a:active {
        background-color: #1744e5;
        color: #fff;
        font-weight: bold;
    }

}

/* ---------- Recommendations -----------*/
.recommendations-section-header {
    margin-bottom: 2em;
    /*border: solid red;*/
}

.recommendations-movie-container {
    margin-top: 1em;
    /*border: solid black;*/
}

.recommendations-movie-info-container {
    /*border: solid blue;*/
}

.recommended-movie-poster-div {
    /*border: solid yellow;*/
    height: 15vh;
    width: 45%;
    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        margin-top: 0;
    }
}



.recommended-movie-info {
    /*border: solid green;*/
    margin-top: 0;
    & h3 {
        font-size: .9rem;
    }

    & p {
        font-size: .8rem;
        /*border: solid red;*/
       
    }

    & .controls-btn {
        /*border: solid red;*/
        height: 6vh;
        & img {
            /*border: solid black;*/
            height: 100%;

        }
    }
}

.recommender-div {
    /*border: solid blue;*/
    display: flex;
    flex-direction: column;
}

.recommender-profile {
    /*border: solid red;*/
    display: flex;
    flex-direction: column;
}

.recommender-profile-pic {
    /*border: solid green;*/
    height: 10vh;
    width: 20%;
    margin-top: -1em;
    
    
         
    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        /*border: solid black;*/
       
       
    }
}

.recommender-info-text {
   /*border: solid red;*/
   margin-top: -1em;
    & p {
        /*border: solid black;*/
        margin-top: 0;
    }
}

.recommender-info {
    /*border: solid purple;*/
    margin-top: .5em;
   
}



.recommendie-info-div {
    /*border: solid yellow;*/
}



.recommender-username {
    /*border: solid yellow;*/
    margin-top: 2em;
}


/* -------- Movie Buddies ----------- */
.movie-buddy-ctls {
    /*border: solid red;*/
    height: max-content;
    margin-bottom: 2em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}

.movie-buddy-ctl {
    text-decoration: none;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-inline: .5em;
    /*border: 1px solid black;*/
    color: #fff;
    background-color: #1b6ef3ff;
    font-weight: 400;
    margin-bottom: .6em;
    width: 60%

}

.movie-buddy-ctl:hover {
    font-weight: bold;
}

.movie-buddy-nav-link {
    text-decoration: none;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-inline: .5em;
    /*border: 1px solid black;*/
    color: #000;
    background-color: #8cc0ff54;
    font-weight: 400;
    margin-bottom: .6em;
    width: 60%;
    border-radius: 10px;

}

.movie-buddies-title-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.view-buddy-notes {
    display: block;
    /*border: solid red;*/
    height: max-content;
    width: fit-content;
    text-decoration: none;
    margin-bottom: 1em;
}



.moviebuddy_container,
.movie-buddies-container,
.movie_buddyrequests_container {
    display: flex;
    /*border: red solid;*/
}

.movie-buddies-container {
    /*border: solid black;*/
    height: 10vh;
    margin-top: 0;
    
}

.movie-buddies-profile {
    /*border: solid green;*/
    height: 100%;
    border-radius: 50%;
    border: 1px solid gainsboro;
    padding: .2em;
   
}

.movie-buddies-pic {
    /*border: purple;*/
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.moviebuddy_profile {
    /*border: solid black;*/
}

.moviebuddy_profilepic {
    /*border: solid green;*/
}

.moviebuddy_info,
.movie-buddies-info,
.movie-buddyrequest-info {
    /*border: solid blue;*/
    margin-top: 0;
}

.movie-buddies-info {
    /*border: solid black;*/
    margin-top: 1em;
    margin-left: .4em;
}

.movie-buddies-id {
    border: solid red;
}

.movie-buddies-name,
.movie-buddies-username {
    /*border: solid green;*/
    text-decoration: none;
    color: #000;
    margin-bottom: 0;
    margin-top: 0;
    
}

.movie-buddies-name {
    font-size: .8rem;
    font-weight: bold;
}

.movie-buddies-username {
    font-size: .7rem;
    color: rgb(161, 158, 158);

}

.movie-buddies-status {
    /*border: solid blue;*/
    text-decoration: none;
    color: #1b6ef3ff;
    
}

.movie-buddyname,
.movie_buddyuser_name,
.movie-buddies-name,
.movie-buddies-name,
.movie-buddyrequest-name,
.movie-buddyrequest-username {
    /*border: solid red;*/
    margin-top: 0;
    margin-bottom: .2em;
}

.movie-buddy-status,
.movie-buddies-status,
.accept-buddyrequest {
    margin-left: .5em;
    /*border: solid black;*/
}

/* View Movie Notes Section */
.movie_buddy_profile_container {
    /*border: solid red;*/
    display: flex;
    flex-direction: row;
    padding: 1em;
    

}

.movie-buddyrequest-profile {
    border: 2px solid gainsboro;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: .2em;

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 50%;
    }

}

.movie-buddyrequest-info {
    /*border: solid blue;*/
    margin-top: 2em;
    margin-left: .5em;
}

.movie-buddyrequest-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.movie-buddyrequest-username {
    color: rgb(167, 163, 163);
    font-family: 1rem;
}

.buddy-notes-nav {
    /*border: solid red;*/
    height: max-content;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
   
    

    & li {
        list-style: none;
        margin-right: .5em;
        /*border: solid black;*/
        height: fit-content;
        margin-bottom: 1.5em;
    }
}

.buddy-notes-nav-item {
    text-decoration: none;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-inline: .5em;
    /*border: 1px solid black;*/
    color: #fff;
    background-color: #1b6ef3ff;
    font-weight: 400;
    margin-bottom: 1em;
    width: 60%;
    font-size: .9rem;
    
}

.buddy-notes-subtitle {
    font-weight: bold;
}

.buddy-notes-container {
    /*border: solid red;*/
    width: 100%;
}

#search-moviebuddies-wrapper {
    /*border: solid black;*/
    margin-top: 2em;
}

.search-movie-buddy-link {
    /*border: solid red;*/
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.moviebuddy_container {
    /*border: solid green;*/
    height: 10vh;
    margin-bottom: 1em;
}

.moviebuddy_profile {
    height: 100%;
    border-radius: 50%;
    border: 1px solid gainsboro;
    padding: .2em;

}

.moviebuddy_profilepic {
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.moviebuddy_info {
    /*border: solid black;*/
    margin-left: .5em;
    margin-top: 1em;
}

.movie-buddyname {
    /*border: solid green;*/
    font-size: .9rem;
    color: #000;
    font-weight: bold;
}

.movie_buddyuser_name {
    border: blue;
    font-size: .9rem;
    color: rgb(124, 122, 122);
    display: flex;
    flex-wrap: wrap;

    & span {
        color: #1b6ef3ff;
        font-weight: bold;
    }

    & button {
        padding-bottom: .4em;
        padding-top: .4em;
        background-color: #c6e0ff;
        border: none;
        font-weight: 400;
        margin-left: 0;
        margin-top: .5em;
    }
}

.movie-buddy-request-profile {
    border: 2px solid gainsboro;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: .2em;

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 50%;
    }

}

.movie-buddy-request-info {
    /*border: solid black;*/
    padding-top: 1em;
    margin-left: .5em;
}

.movie-buddy-request-name {
    font-size: .9rem;
    margin-bottom: 0;
    margin-top: 0;
}

.movie-buddy-request-username {
    font-size: .9rem;
    color: rgb(167, 163, 163);
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.accept-buddyrequest,
.decline-buddyrequest {
    padding-top: .4em;
    padding-bottom: .4em;
    background-color: #c6e0ff;
    border: none;
    margin-left: 0;
    margin-top: .7em;
    
    
}

.decline-buddyrequest {
    background-color: #f83b54e5;
    color: #000000;
    font-weight: bold;
    
}





/* Recommendations */
.buddy_recommendations_div {
    /*border: solid red;*/
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: fit-content;
    margin-right: 0;
    border: solid 2px gainsboro;
}

.close-recommend {
   /*border: solid black;*/
   align-content: end;
   margin-bottom: .3em;
   /*background-color: #c6e0ff;*/
}

#recommend_btn,
#section-recommend_btn {
    /*border: solid black;*/
    margin-top: .3em;
    background-color: #1744e5;
    border: none;
    padding: .5em;
    color: #fff;
}

.recommendie_wrapper,
.recommendie_div {
    display: flex;
}

.recommendie_wrapper {
    /*border: solid green;*/
    align-items: center;
    margin-bottom: .5em;
}

.checkbox-div {
    /*border: solid blueviolet;*/
}

.recommendie_div {
    /*border: solid red;*/
    height: 10vh;
    align-items: center;
}

.recommendie_profile_div {
    /*border: solid blue;*/
    height: 100%;
    border-radius: 50%;
}

.recommendie_profile_pic {
    /*border: solid black;*/
    height: 100%;
    border-radius: 50%;

    
}

.recommendie_info {
    /*border: solid red;*/
    margin-left: .3em;
}

.recommendie-name,
.recommendie_username {
    /*border: solid green;*/
    margin-top: 0;
    font-size: .9rem;

}

.recommendie-name {
    margin-bottom: .3rem;
}

.recommendations-movie-container {
    /*border: solid red;*/
    display: flex;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 5em;
    border-bottom: solid 1px gainsboro;    
    padding-bottom: .5em;
    justify-content: space-between;
    width: 100%;
}

.recommended-movie-info-container {
    display:flex;
    /*border: solid green;*/
}


.recommender-title {
    /*border: solid black;*/
    margin-top: 0;
    margin-bottom: 0;
    color: #1744e5;
    font-weight: bold;
}

.recommender-username {
    font-size: .9rem;
}

/* Chat */
.chat-container-div {
    display: grid;
    grid-template-columns: minmax(100,1fr);
    /*border: solid black;*/
}

.chat-nav {
    grid-column: 1;
    /*border: solid red;*/
    padding-inline: 1em;
}

.chat-area {
    grid-column: 1;
    /*border: solid blue;*/
    display: none;
}

.chat-header {
    border: solid 1px gainsboro;
    padding: 1em;
}

#back-to-chat-nav-btn {
    display: flex;
    /*border: solid black;*/
    margin-right: 1em;
    align-self: center;
}

.header-profile {
    /*border: solid red;*/
    display: flex;
    & .chatbuddy_profile_div {
        height: 70px;
        width: 70px;
    }

    & .chatbuddy_profile_pic {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.new-chat-menu {
    display: flex;
    flex-direction: column;
}

.chatbuddy_link {
    display: block;
    /*border: solid red;*/
    text-decoration: none;
    color: #000;
    margin-bottom: 1em;
}

.chatbuddy_div {
    /*border: solid black;*/
}

.chatbuddy_profile_div {
    /*border: solid green;*/
    height: 10vh;
    border-radius: 50%;
    border: solid 1px gainsboro;
    padding: .1em;

    & img {
        height: 100%;
        border-radius: 50%;
    }
}

.chats-header {
    display: flex;
    /*border: solid green;*/
    justify-content: space-between;
    padding-inline: 1em;
}

.chats-header-title {
    /*border: solid red;*/
}

#type-chat-div {
    border: solid 1px gainsboro;
    padding-top: .8em;
    padding-bottom: .8em;
    padding-inline: 1em;
    display: flex;
    margin-top: .7em;
}

#type-msg-input {
    padding-top: .6em;
    padding-bottom: .6em;
    padding-inline: 1em;
    width: 85%;
    border: solid 2px rgb(209, 208, 208);
    
    
}

#type-msg-input::placeholder {
    font-family: "Roboto", sans-serif;
    color: #000;
    font-weight: 500;
}

#send-msg-btn {
    display: none;
}

#send-msg-btn-icon {
    display: inline;
    /*border: solid black;*/
    margin-left: 1em;
    
    
   

    & img {
        /*border: solid black;*/
        height: 100%;
      
       
    }
}

#newchat-btn {
    /*border: solid blue;*/
    align-self: center;
    text-decoration: none;
    background-color: #8cc0ff54;
    color: #000;
    padding-inline: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
    border: solid 1px #1744e5;

}

.newchatbuddy_div,
.chatbuddy_div {
    display: flex;
    /*border: solid red;*/
}

.chatbuddy-name,
.chatbuddy_username {
    margin-top: 0;
    margin-bottom: .3rem;
    /*border: solid black;*/
}

.newchatbuddy-link {
    /*border: solid purple;*/
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 1em;
}

.newchatbuddy_div {
    /*border: solid green;*/
}

.newchatbuddy_profile_div {
    /*border: solid blue;*/
    height: 10vh;
    border-radius: 50%;
    border: solid 1px gainsboro;
    padding: .1em;
}

.newchatbuddy_profile_pic {
    /*border: solid yellow;*/
    height: 100%;
    border-radius: 50%;
}

.newchatbuddy_info,
.chatbuddy_info {
    margin-top: 1em;
    margin-left: .3em;
    & p {
        font-size: .9rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.newchatbuddy-name,
.chatbuddy-name {
    font-weight: bold;
}

.newchatbuddy_username,
.chatbuddy_username {
    color: rgb(160, 153, 153);
}

#close-chat-btn {
    text-decoration: none;
    color: #000;
    border: solid 1px black;
    align-self: flex-start;
    padding-inline: .7em;
    font-size: .9rem;
    padding-top: .3em;
    padding-bottom: .3em;
    margin-bottom: .2em;
}

#buddy-chat-search {
    padding-top: .4em;
    padding-bottom: .4em;
    padding-inline: 1em;
    border-radius: 5px;
    border: 1px solid rgb(141, 138, 138);
    margin-bottom: 1em;
    margin-top: 1em;
    
}

.chat-display {
    width: 100%;
    min-height: 50vh;
    max-height: max-content;
    /*border: solid red;*/
    display: flex;
    flex-direction: column;
       
}

.sent-by-user {
    align-self: end;
    background-color: #8cc0ff54;
    margin-bottom: .3em;
    padding: .5em;
    border-radius: 8px;
    /*border: solid black;*/
    & * {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.chat-msg {
    align-self: start;
    background-color: #efefef;
    border-radius: 8px;
    margin-bottom: .3em;
    padding: .5em;
    /*border: solid black;*/
    
    & * {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.text-date-title {
    font-size: 1rem;
    align-self: center;
    padding: .3em;
    border-radius: 15%;
    margin-bottom: .3em;

}

.msg-time {
    text-align: right;
    font-size: .8rem;
    color: rgb(88, 88, 88);
    
}

/* ================
    Media-Queries
    =============== */
    @media (min-width:900px) {
    /* Login page */
    .login-grid {
        grid-template-columns: minmax(3em, 1fr) minmax(30%,1fr) minmax(40%,1fr) minmax(3em, 1fr);
     
    }  

    .login-logo-div {
        display: none;
    }
    
    .login-info {
        grid-column: 2;
        /*border: solid red;*/
        margin-top: 8em;
    
       
    }

    .login-image {
        display: block;
        grid-column: 3;
        border: solid blue;
        height: 97vh;
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .updateprofile-btn {
        padding-top: .5em;
        padding-bottom: .5em;
        padding-inline: 1em;
        width: 50%;
        align-self: flex-end;
        color: #1744e5;
        

    }

    .login-user-profile {
        flex-direction: row;
    }

    /* Create Account Page*/ 
    .create-user-div {
        width: 30%;
        
    }

    /* Edit profile Page*/
    .edit_profile_div {
        width: 50%;
        /*border: solid red;*/
    }

    .edit_profile_nav {
        width: 70%;
    }

    .update-profile-form {
        width: 70%;
    }

    /* Veirify username div*/
    .verify-username-div {
    width: 30%;
    }

    /* Verify account page*/
    .verify-account-div {
       width: 40%;
    }

    /* New password page*/
    .new-password-div {
       width: 30%;
    }

    /* --- Dashboard --- */
    
    .user-dashboard-container {
        display: grid;
        grid-template-columns: minmax(10%,1fr) minmax(80%,1fr) ;
        margin-inline: auto;
        /*border: solid red;*/
        padding-top: 5em;
    }
    
    .user-menu {
        grid-column: 1;
        /*border: solid black;*/
        display: block;
    }
    
    .user-content{
        grid-column: 2;
        /*border: solid green;*/
        margin-top: 2em;
    }

    /* Home page*/

    .section-search-div {
        /*border: solid purple;*/
    }

    .home-img {
        display: flex;
        /*border: solid red;*/
        padding-top: 5em;
        height: 40%;
        width: 25%;
        & img {
            /*border: solid red;*/
            height: 100%;
            width: 100%;
        }
    }

    .home-section {
        /*border: solid 1px red;*/
        border-radius: 25Px;
        padding-inline: 2em;
        padding-top: 1em;
        padding-bottom: 2em;
        background-color: #ecf3feff;
        color: #000;
        display: flex;
        width: 97%;
       
    }
    
    .home-info {
        /*border: solid black;*/
        text-align: justify;
        width: 80%;
        margin-right: 2em;
    }
    
    /*Search page*/
    .search-input {
        width: 50%;
        padding-left: 2em;
        padding-top: .7em;
        padding-bottom: .7em;
        font-size: 1rem;
        
    }
    
    .search-input::placeholder {
        font-size: 1rem;
    }

    .movie-info-container {
        width: 90%;
        padding-inline: 1em;
        /*border: solid red;*/

        
    }
    
    .movie_info_text,
    .buddy-notes-movieinfo-text {
        /*border: solid blue;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: .5em;
    
        & * {
            /*border: solid black;*/
            margin-bottom: 0;
            margin-top: 0;
            
    
        }
    }
    
    
    .movie-info,
    .buddy-notes-movieinfo {
        /*border: solid green;*/
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-right: 3em;
    }
    
    .search-movie-title {
        font-size: 1.2rem;
        /*margin-top: 0;*/
    }
    
    .movie-year,
    .movie-stars {
        font-size: 1rem;
        
    }
    
        
    .movie-poster-div,
    .buddy-notes-movieposter {
       /*border: solid purple;*/
       height: 15vh;
       width: 10%;
        & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            /*border: solid yellow;*/
        }
    }

    /* Sections*/
    .section-header {
        /*border: solid black;*/
        padding-left: 4em;
        flex-direction: row;
        padding-bottom: 1em;
        padding-top: 1em;  
        margin-right:3em ;      
    }
    
    .section-header-img {
        /*border: solid blue;*/
        height: 20vh;
        width: 15%;
    
        & img {
            /*border: greenyellow;*/
            height: 90%;
            width: 100%;
            object-fit: contain;
            padding-top: 2em;
        }
    }

    .section-title {
        margin-bottom: 0;
        font-size: 3rem;
      
    }

    .section-search {
        width: 40%;  
       
    }

    .watched-section-wrapper {
         /*border: solid blue;*/
    }

   
    .watched-view-btns {
        display: inline;
        margin-bottom: 1em;
    }

    .section-display {
        /*border: solid red;*/
        margin-top: 2em;
    }

    #search-watched-wrapper {
        /*border: solid red;*/
        margin-top: 1.5em;
    }

    /* Watched by year */
    .month-movies-div {
        /*border: solid blue;*/
        display: grid;
        grid-template-columns: repeat(3, minmax(28%,1fr));
    }
    
    .month-movie-container {
        /*border: solid greenyellow;*/
        grid-column: span 1;
    
    }

    .month-movie-container:nth-child(3n+1) {
        grid-column: 1 / span 1;
    }
    
    .month-movie-poster {
        /*border: solid purple;*/
        height: 17vh;
        width: 30%;
        & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    
    }
    
    .month-movie-info {
        /*border: solid black;*/
    }
    
    .month-movie-title-div {
        /*border: solid blue;*/
        display: flex;
        padding-bottom: 0;
        margin-bottom: 0;
       
    }
    
    .month-movie-no {
       /*border: solid black;*/
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .month-movie-title {
        /*border: solid red;*/
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .month-movie-year,
    .month-movie-stars {
        /*border: solid blue;*/
        margin-top: 0;
        margin-bottom: 0;
        
    }

    /* Controls */
    .popup-menu-wrapper,
    .section-popup-menu-wrapper
     {
        margin-right: 8em;
    
    }

    .popup-menu-li {
           
        & a {
           font-size: 1rem;
        }
    
    }

    /* Recommendations*/
    .recommended-movie-poster-div {
        /*border: solid yellow;*/
        height: 18vh;
        width: 15%;
        & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .recommended-movie-info {
        /*border: solid blue;*/
        margin-top: 1.5em;
        width: 80%;
       
       
        & h3 {
            font-size: 1rem;
        }
    
        & p {
            font-size: .9rem;
            /*border: solid red;*/
           
        }
    
        & .controls-btn {
            /*border: solid red;*/
            height: 7vh;
            & img {
                /*border: solid black;*/
                height: 100%;
    
            }
        }
    }

    .recommended-movie-info {
        font-size: 1rem;
    }

    .recommendations-movie-container {
        padding-inline: 1em;
        /*border: solid black;*/
        margin-inline: 0;
       
    }

    .recommended-movie-info-container {
        /*border: solid green;*/
        width: 50%;
       
       
    }

    .recommender-info {
        /*border: solid blue;*/
        
    }

    .recommender-div {
        display: flex;
        flex-wrap: wrap;
        /*border: solid red;*/
    }

    .recommender-profile {
        /*border: solid blue;*/
        display: flex;
        flex-direction: row;
    }

    .recommender-profile-pic {
        margin-bottom: 1em;
        /*border: solid green;*/
        margin-top: 0;
        
    }

    .recommender-info-text {
        /*border: solid black;*/
        margin-top: 1.5em;
    }

    /* Recommendations popup */
   
.buddy_recommendations_div {
    /*border: solid red;*/
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: fit-content;
    margin-right: 8em;
    border: solid 2px gainsboro;
}

.recommendie_wrapper,
.recommendie_div {
    display: flex;
}

.recommendie_wrapper {
    /*border: solid green;*/
    align-items: center;
}

.checkbox-div {
    /*border: solid blueviolet;*/
}

.recommendie_div {
    /*border: solid red;*/
    height: 10vh;
    align-items: center;
}

.recommendie_profile_div {
    /*border: solid blue;*/
    height: 100%;
}

.recommendie_profile_pic {
    /*border: solid black;*/
    height: 100%;
}

.recommendie-name,
.recommendie_username {
    /*border: solid green;*/
    margin-top: 0;

}

.recommendie-name {
    margin-bottom: .5rem;
}

/* Movie Buddies */
.movie-buddy-ctls {
    display: inline;
    /*border: solid black;*/
    padding-left: 0;
 
}

.movie-buddy-ctl {
    margin-right: 1em;
}

.movie-buddy-nav-link {
    margin-right: 1em;
    padding-inline: .7em;
    /*border: solid black;*/
    
    

}

.movie-buddies-name {
    font-size: .9rem;
   
}

.movie-buddies-username {
    font-size: .8rem;
}

.buddy-notes-nav {
    & li {
       margin-right: 1.2em;
       
    }
}

.buddy-notes-container {
    width: 98%;
}

.movie-buddy-request-username {
    font-size: .9rem;
    color: rgb(167, 163, 163);
    margin-top: 0;
    flex-direction: row;
}

.accept-buddyrequest,
.decline-buddyrequest {
   margin-top: 0;
   margin-left: .8em;
    
}

.decline-buddyrequest {
    margin-left: 1em;
    
}

.movie_buddyuser_name {
     & button {
        margin-top: 0;
        margin-left: .5em;
    }
}

/* Chat */
.chat-container-div {
    grid-template-columns: minmax(30%,1fr) minmax(70%,1fr) minmax(1em, 1fr);
    /*border: solid black;*/
}

.chat-nav {
    grid-column: 1;
    border: solid 1px gainsboro;
    display: block;
    
}

.chat-area {
    grid-column: 2;
    border-right: #1744e5 solid 1em;
    border: solid 1px gainsboro;
    display: block;
  
}




#send-msg-btn {
    display: inline;
    text-decoration: none;
    color: #1744e5;
    margin-left: 1em;
    padding-inline: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
    border: solid 1px #1744e5;
    font-size: .9rem;
    font-weight: bold;
}


#send-msg-btn-icon {
    display: none;
}

/* Navigation */

nav {
    padding-inline: 2em;
    justify-content: space-between;

}  

.desktop-logout {
    display: flex;
}


.desktop-menu {
    display: block;
}

.mobile-menu {
    display: none;
}

.dashboard-menu-title {
    display: block;
    
}

.mobile-menu-btn {
    display: none;
  
}

.nav-user-info {
    margin-left: 4em;
}


.mobile-display-nav {
    display: none;
}

/* Chats */
.chat-display {
    padding-inline: 1em;
    
}





    
    
    

    

}



