{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

    <div class="create-user-logo-div">
        <img src="../static/Images/Movie Notes-logo/Movie Notes (4).png" alt="" class="create-user-logo">
    </div>

    <div class="create-user-div">

        <h2 class="create-act-title">Create Account</h2>
        <!--<form action="/create_account" method="POST" class="create-account-form">
            <label for="fullname" class="create-act-lbl"> Full Name </label>
            <input type="text" autocomplete="off" id="fullname" class="create-act-input fullname" name="fullname">
            <label for="username" class="create-act-lbl"> Username </label>
            <input type="text" autocomplete="off" id="username" class="create-act-input username" name="username">
            <label for="password" class="create-act-lbl">Password</label>
            <input type="password" autocomplete="off" id="password" class="create-act-input password" name="password">
            <input type="password" autocomplete="off" id="password" class="create-act-input password" name="confirm-password">
            <button type="submit" class="create-act-submit-btn">Creat Account </button>
           
     
        </form>-->
    
        <form action="/create_account" method="POST" class="create-acc-form">
            {{ reg_form.csrf_token }}
            <label for="first_name" class="create-acc-form-lbl"> {{ reg_form.first_name.label}} </label>
             {{ reg_form.first_name()}}
            
            <label for="last_name" class="create-acc-form-lbl"> {{ reg_form.last_name.label}} </label>
            {{ reg_form.last_name()}}
                
            {% if reg_form.first_name.errors or reg_form.last_name.errors %}
                <ul class="errors">
                    {% for error in reg_form.first_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {% for error in reg_form.last_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}   
            
            <label for="user-name" class="create-acc-form-lbl"> {{ reg_form.user_name.label}} </label>
            {{ reg_form.user_name()}}
            
            {% if reg_form.user_name.errors %}
                <ul class="errors">
                    {% for error in reg_form.user_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}            
                </ul>
           {% endif %}   
    
           <label for="password" class="create-acc-form-lbl"> {{ reg_form.password.label }} </label>
            {{ reg_form.password() }}

            

            <ul class="password-guidelines-div" id="password-guidelines" style="display: none;">
                <li class="password-guideline"> Password must be contain atleast 8 characters </li>
                <li class="password-guideline"> Password must contain atleast one number </li>
                <li class="password-guideline"> Password must contain atleast one lowercase letter and one uppercase letter </li>
                <li class="password-guideline"> Password must contain atleast one special character </li>
            </ul>
                
           {% if reg_form.password.errors %}
           <ul class="errors">
               {% for error in reg_form.password.errors %}
                   <li>{{ error }}</li>
               {% endfor %}            
           </ul>
          {% endif %}   
    
          <label for="verify_password" class="create-acc-form-lbl"> {{ reg_form.verify_password.label }} </label>
           {{ reg_form.verify_password() }}

           <div class="password-toggle-div">
                <input type="checkbox" onclick="togglePassword(event, 'create-user-password')" class="password-toggle" id="create-user-password-toggle">
                <label for="" class="toggle-password-lbl">Show Password</label>
           </div>
    
            {% if reg_form.verify_password.errors %}
                <ul class="errors">
                     {% for error in reg_form.verify_password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}            
                </ul>
            {% endif %}   
    
            <button type="submit" class="create-account-btn">Create Account </button>
        
    
        </form>
    
        <div class="create-user-login">
            <p>Already have an account?<a href="/login" class="sign-in-link">Sign in </a></p>
        </div>
    
    </div>


   



{% endblock %}