{% extends "layout.html" %}

{% block main %}
<div class="user-dashboard-container">
    <div class="user-menu">
        <ul>
            <li><a href="{{ url_for('search_page')}}" id="index-search">Search</a></li>
          
        </ul>

        <ul>
            {% for dict_item in sections %}
                <li><a href="{{ sections[dict_item] }}">{{ dict_item }}</a></li>
        
            {% endfor %}

                     
        </ul>

    </div>
       
    <div class="user-content">
        {% if search_page %}
            <input  autocomplete="off" autofocus placeholder="Search Movie"  type="text" id="searchInput">

            <h3 class="search-history" id="search-history"></h3>
            <div class="movieList"></div>
            <p style="display: none;" id="search-options-list">{{ json_buddynotes_options }}</p>

            <script>
                let timeoutId = null;
                let input = document.querySelector('input');
                input.addEventListener('input', function() {
                    clearTimeout(timeoutId);
                    timeoutId = setTimeout(async function() {
                        console.log("input")

                        // clear input field
                        document.querySelector(".movieList").innerHTML = '';
                        let response = await fetch('/search?q=' + input.value);
                        let movies = await response.json();
                        for (let id in movies) {
                            let title = movies[id].title.replace('<', '&lt;').replace('&', '&amp;');
                            console.log(title)
                            let year = movies[id].year;
                            let stars = movies[id].stars;
                            let poster = movies[id].poster;
                            let posterset = movies[id].posterset;
                            let movie_container_div = document.createElement("div");
                            movie_container_div.className = "movie-info-container";
                            let movie_info_text = document.createElement("div");
                            movie_info_text.className = "movie_info_text";
                            let movie_info_div = document.createElement("div")
                            movie_info_div.className = "movie-info"
                            let movie_title = document.createElement("h3");
                            movie_title.className = "search-movie-title";
                            movie_title.innerHTML = title;
                            let movie_year = document.createElement("p");
                            movie_year.className = "movie-year";
                            movie_year.innerHTML = year;
                            let movie_stars = document.createElement("p");
                            movie_stars.className = ("movie-stars");
                            movie_stars.innerHTML = stars;
                            let controls = document.createElement("img");
                            controls.className = "search-controls";
                            controls.id = "search-controls-options";
                            controls.src = "../static/Images/Icons/9022327_dots_three_duotone_icon.png";
                            let controls_btn = document.createElement("button");
                            controls_btn.type = "button";
                            controls_btn.className = "controls-btn";
                            controls_btn.appendChild(controls);

                            let movie_poster_div = document.createElement("div");
                            movie_poster_div.className= ("movie-poster-div")
                            let movie_poster = document.createElement("img");
                            movie_poster.src = poster;
                            movie_poster.sizes = "50vw, (min-width: 480px) 34vw, (min-width: 600px) 26vw, (min-width: 1024px) 16vw, (min-width: 1280px) 16vw";
                            movie_poster.srcset = posterset;
                        
                            movie_poster_div.appendChild(movie_poster);
                            movie_info_text.appendChild(movie_title);
                            movie_info_text.appendChild(movie_year);
                            movie_info_text.appendChild(movie_stars);
                            movie_info_div.appendChild(movie_info_text);
                            movie_info_div.appendChild(controls_btn);
                        
                            movie_container_div.appendChild(movie_poster_div);
                            movie_container_div.appendChild(movie_info_div);
                        
                            document.querySelector(".movieList").appendChild(movie_container_div);
                        
                        }
                    }, 300);

                    let search = document.getElementById("searchInput");
                    console.log("Search is:" + search.value)
                
                    console.log
                
                    if (document.getElementById("searchInput").value == ""){
                            console.log("search input is empty")
                            let search_history = document.getElementById("search-history");
                            search_history.innerHTML = "Recent searches";
                        }
                    else {
                        let search_history = document.getElementById("search-history");
                        search_history.innerHTML = "";
                    }    
                
                
                });

            </script>

            <script>
           
            let isPopupVisible = false;
            let popup_menu;
            let popup_menu_div;

            document.addEventListener('click', function(event) {
                console.log(event.target);
                
                if (event.target.matches('.search-controls')) {
                    let event_trigger = event.target;
                   
                    console.log("options button clicked");
                    if(isPopupVisible && !popup_menu.contains(event.target)) {
                        //remove popup menu
                        popup_menu.remove();
                        isPopupVisible = false;
                    }

                    else {
                            popup_menu_div = document.createElement("div");
                            popup_menu_div.className = "popup-menu-wrapper";
                            popup_menu = document.createElement("ul");
                            popup_menu.className = "popup_menu-list";
                            let options_list = JSON.parse(document.getElementById('search-options-list').innerText);
                            console.log(options_list)

                            let options = {}
                            options_list.forEach(list_item => {
                                options[list_item[0]] = list_item[1]
                            });
                            console.log(options)

                            let search_list_options = [];
                            for (let key in options) {
                                let popup_options = document.createElement("li");
                                popup_options.className = "popup-menu-li";
                                let link = document.createElement("a");
                                link.href = options[key];
                                link.innerHTML = key;
                                popup_options.appendChild(link);
                                popup_menu.appendChild(popup_options);
                                search_list_options.push(popup_options);
                            }

                            popup_menu_div.appendChild(popup_menu);
                            event.target.parentNode.parentNode.parentNode.insertAdjacentElement('afterend', popup_menu_div);
                            isPopupVisible = true;

                            // Create elements to add a watched date
                            let watched_date = null;
                            let date_div = document.createElement("div");
                            date_div.className = 'date-div';
                            let date_lbl = document.createElement("label");
                            let date = document.createElement("input");
                            date_lbl.innerHTML = "Include date";
                            date.type = "date";
                            date.id = "watched-date"
                            date_div.appendChild(date_lbl);
                            date_div.appendChild(date);
                            date_div.style.display = "none"
                            popup_menu.insertAdjacentElement('afterend', date_div);

                            search_list_options.forEach(list_option => {
                                //console.log(list_option.firstChild.innerHTML)
                                if(list_option.firstChild.innerHTML == "Watched") {
                                    console.log("Watched found")
                             
                                    list_option.addEventListener('mouseover', function() {
                                        date_div.style.display = "block";
                                       
                                    });

                                    date_div.addEventListener('mouseover', function() {
                                        date_div.style.display = "block";
                                    });

                                    date_div.addEventListener('mouseout', function() {
                                        date_div.style.display = "none";
                                    });

                               }
                            })

                            // Create a pop up menu for recommending movie for movie buddies
                            let buddy_recommendations_div = document.createElement('div');
                            buddy_recommendations_div.className = 'buddy_recommendations_div';
                            buddy_recommendations_div.id = 'recommendations_options';
                            let recommend_btn = document.createElement('button');
                            recommend_btn.innerHTML = 'Recommend';
                            let close_recommend = document.createElement('button');
                            let close_img = document.createElement('img');
                            close_img.src = "../static/Images/Icons/close.png";
                            close_img.id = "recommendations-close-btn";
                            let recommendations = document.createElement('div');
                            recommendations.className = 'recommendations-div';

                            close_recommend.appendChild(close_img);
                            buddy_recommendations_div.appendChild(close_recommend);
                            buddy_recommendations_div.appendChild(recommendations);
                            buddy_recommendations_div.appendChild(recommend_btn);
                            buddy_recommendations_div.style.display = "none";
                            event_trigger.parentNode.parentNode.parentNode.nextElementSibling.insertAdjacentElement('afterend', buddy_recommendations_div)
                            console.log(event_trigger.parentNode.parentNode.parentNode.nextElementSibling);
                                             
                                       







                            //Add event handlers to all links in the list items to send data to the server side
                            for(let i = 0; i < search_list_options.length; i++) {
                                search_list_options[i].firstChild.addEventListener('click', function(event) {
                                    event.preventDefault();
                                    console.log(event.target)

                                    if(search_list_options[i].firstChild.innerText == "Recommend") {

                                        fetch("/buddy_recommend_info")
                                        .then(response => {
                                           // Convert the response to JSON
                                           return response.json(); 
                                        })
                                        .then(recommend_to => {
                                            //Process the JSON data
                                            console.log(recommend_to);
                                            document.querySelector(".recommendations-div").innerHTML = '';
                                            popup_menu_div.style.display = "none";
                                            buddy_recommendations_div.style.display = "block";
                                        
                                            recommend_to.forEach(data_item => {
                                                console.log(data_item);
                                                let recommendie_wrapper = document.createElement('div');
                                                recommendie_wrapper.className = "recommendie_wrapper";

                                                let checkbox_div = document.createElement('div');
                                                checkbox_div.className = "checkbox-div";

                                                let checkbox = document.createElement('input');
                                                checkbox.className = 'checkbox';
                                                checkbox.type = 'checkbox';
                                                checkbox_div.appendChild(checkbox);

                                                let recommendie_div = document.createElement('div');
                                                recommendie_div.className = 'recommendie_div';

                                                let recommendie_profile = document.createElement('div');
                                                recommendie_profile.className = 'recommendie_profile_div';

                                                let profile_pic = document.createElement('img');
                                                profile_pic.className = 'recommendie_profile_pic';
                                                profile_pic.src = data_item.profile_pic;
                                                recommendie_profile.appendChild(profile_pic);

                                                let recommendie_info = document.createElement('div');
                                                recommendie_info.className = 'recommendie_info';

                                                let recommendie_id = document.createElement('p');
                                                recommendie_id.className = "recommendie-id";
                                                recommendie_id.innerText = data_item.id;
                                                recommendie_id.style.display = 'none';

                                                let recommendie_name = document.createElement('p');
                                                recommendie_name.className = 'recommendie-name';
                                                recommendie_name.innerText = data_item.full_name;

                                                let recommendie_username = document.createElement('p');
                                                recommendie_username.className = 'recommendie_username';
                                                recommendie_username.innerText = data_item.user_name;

                                                // append elements to the recommendie_info div
                                                recommendie_info.appendChild(recommendie_id);
                                                recommendie_info.appendChild(recommendie_name);
                                                recommendie_info.appendChild(recommendie_username);

                                                // append recommendie_profile and recommendie_info to recommendie_div
                                                recommendie_div.appendChild(recommendie_profile);
                                                recommendie_div.appendChild(recommendie_info);

                                                //append recommendie_div and checkbox to recommendie_wrapper
                                                recommendie_wrapper.appendChild(checkbox_div);
                                                recommendie_wrapper.appendChild(recommendie_div);
                                        
                                                // append recommendie_wrapper to recommendations
                                                recommendations.appendChild(recommendie_wrapper);




                                            })
                                        
                                        })
                                        .catch(error => {
                                            // Handle any errors that occurred during the fetch
                                            console.error('There was a problem with the fetch operation:', error);
                                        });

                                        close_img.addEventListener('click', function(event) {
                                            buddy_recommendations_div.style.display = "none";
                                            popup_menu_div.style.display = "flex";
                                        });
                                    }
                                    
                                    

                                    
                                        
                                    else {
                                        let data = {
                                        movie_title: event.target.parentNode.parentNode.parentNode.previousElementSibling.lastElementChild.firstElementChild.children[0].innerHTML,
                                        movie_year: event.target.parentNode.parentNode.parentNode.previousElementSibling.lastElementChild.firstElementChild.children[1].innerHTML,
                                        movie_stars: event.target.parentNode.parentNode.parentNode.previousElementSibling.lastElementChild.firstElementChild.children[2].innerHTML,
                                        movie_poster: event.target.parentNode.parentNode.parentNode.previousElementSibling.firstElementChild.firstChild.src,
                                        movie_poster_sizes: event.target.parentNode.parentNode.parentNode.previousElementSibling.firstElementChild.firstChild.sizes,
                                        movie_poster_set: event.target.parentNode.parentNode.parentNode.previousElementSibling.firstElementChild.firstElementChild.srcset
                                                                       
                                        };
                             

                                    if (search_list_options[i].firstChild.innerHTML == "Watched") {
                                        data.date = watched_date;
                                    }
                                    console.log(data);   

                                        let route = search_list_options[i].firstChild
                                        console.log(route)
                                        fetch(route, {
                                            method: 'POST',
                                            headers: {
                                            'Content-Type': 'application/json'
                                            },
                                        body: JSON.stringify(data)
                                        })
                                        .then(response=> response.json())
                                        .then(data => {
                                            alert(data.message);
                                        })
                                        .catch((error) => console.error('Error:', error));
                                        }

                                    });
                            }  
                            
                            function upDateWatchedDate() {
                                    watched_date = date.value;
                            }
                                    
                            date.addEventListener('change', function(event) {
                                console.log("date changing")
                                upDateWatchedDate();
                                console.log(watched_date);
                                console.log(event.target);

                                console.log("Watched fetch function after date change")
                                let data = {
                                    movie_title: event.target.parentNode.parentNode.previousElementSibling.lastElementChild.firstElementChild.children[0].innerHTML,
                                    movie_year: event.target.parentNode.parentNode.previousElementSibling.lastElementChild.firstElementChild.children[1].innerHTML,
                                    movie_stars: event.target.parentNode.parentNode.previousElementSibling.lastElementChild.firstElementChild.children[2].innerHTML,
                                    movie_poster: event.target.parentNode.parentNode.previousElementSibling.firstElementChild.firstChild.src,
                                    movie_poster_sizes: event.target.parentNode.parentNode.previousElementSibling.firstElementChild.firstChild.sizes,
                                    movie_poster_set: event.target.parentNode.parentNode.previousElementSibling.firstElementChild.firstElementChild.srcset,
                                    date: watched_date                                   
                                }
                                
                                fetch("/watched", {
                                method: 'POST',
                                headers: {
                                         'Content-Type': 'application/json'
                                        },
                                body: JSON.stringify(data)
                                })
                                .then(response=> response.json())
                                .then(data => {
                                    alert(data.message);
                                })
                                .catch((error) => console.error('Error:', error));
                            });
                            watched_date = null;

                    }
                    
                }
            }); 
            
        
            </script>
   



        {% endif %}

        <!-- This conditon displays watched movies -->
        {% if watched_section %}
            <div class="watched-section-wrapper">
                <h2 class="section-title"> Watched Movies</h2>
                <div>
                    <p class="section-total">{{ movie|length }} Movies Watched </p>
                    <div class="section-search-wrapper">
                        <input  autocomplete="off" autofocus placeholder="Search Watched Movies"  type="text" id="watched-movie-search" class="section-search">
                        <button id="search-close" style="display: none"><img src="../static/Images/Icons/close.png" alt="close search" ></button>
                    </div>
                  

                </div>
               

                <div class="watched-view-btns">
                    <button>All</button>
                    <button>View by Year</button>
                </div>

                <p style="display: none;" id="watched-options-list" class="movie_data_id">{{ json_watched_options }}</p>
                <div id="allwatched-movie-display" class="section-display">
                    {% for dict_item in movie %}
                        <div class="movie-info-container">
                            <p style="display: none;">{{dict_item["id"]}}</p>                                                      
                            <div class="movie-poster-div">
                                <img src="{{dict_item['movie_poster']}}" alt="movie poster" sizes="{{dict_item['movie_poster_sizes']}}" srcset="{{dict_item['movie_poster_set']}}">
                            </div>
                            <div class="movie-info">
                                <div class="movie_info_text">
                                    <div class="movie_info_title_wrapper">
                                        <h3 class="section-movie-title-no">{{ loop.index }}.</h3>
                                        <h3 class="section-movie-title">{{dict_item["movie_title"]}}</h3>
                                    </div>
                                    <p class="section-movie-year">{{dict_item["movie_year"]}}</p>
                                    <p class="section-movie-stars">{{dict_item["movie_stars"]}}</p>
                                </div>
                                <button type="button" class="controls-btn">
                                    <img src="../static/Images/Icons/9022327_dots_three_duotone_icon.png" alt="" class="section-controls" id="watched-stn-ctls">
                                </button>
                            </div>

                        </div>

                    
                        
                    {% endfor %}

                </div>

                <div class="watched-year-movie-display">
                    
                </div>

                <div id="search-watched-wrapper" class="section-search-div" style="display: none;">
                    <p style="display: none;" id="watched-options-list" class="movie_data_id">{{ json_watched_options }}</p>
                </div>

            </div>
        

        {% endif %}


        <!-- This conditon displays favourite movies -->
        {% if favourite_section %}
            <div class="favourite-section-wrapper">
                <h2 class="section-title"> Favourite Movies</h2>
                <div>
                    <p class="section-total">{{ favourite_movies|length }} Favourite Movies </p>
                    <div class="section-search-wrapper">
                        <input  autocomplete="off" autofocus placeholder="Search Favourite Movies"  type="search" id="favourite-movie-search" class="section-search">
                        <button id="search-close" style="display: none"><img src="../static/Images/Icons/close.png" alt="close search" ></button>
                    </div>

                            
                </div>
               

                <p style="display: none;" id="favourite-options-list">{{ json_favourite_options }}</p>https://www.w3schools.com/html/html_emojis.asp
            

                <div id="favourite-movie-display" class="section-display">
                    {% for dict_item in favourite_movies %}
                        <div class="movie-info-container">
                            <p style="display: none;" class="movie_data_id">{{dict_item["id"]}}</p>                                                      
                            <div class="movie-poster-div">
                                <img src="{{dict_item['movie_poster']}}" alt="movie poster" sizes="{{dict_item['movie_poster_sizes']}}" srcset="{{dict_item['movie_poster_set']}}">
                            </div>
                            <div class="movie-info">
                                <div class="movie_info_text">
                                    <div class="movie_info_title_wrapper">
                                        <h3 class="section-movie-title-no">{{ loop.index }}.</h3>
                                        <h3 class="section-movie-title">{{dict_item["movie_title"]}}</h3>
                                    </div>
                                    <p class="section-movie-year">{{dict_item["movie_year"]}}</p>
                                    <p class="section-movie-stars">{{dict_item["movie_stars"]}}</p>
                                </div>
                                <button type="button" class="controls-btn">
                                    <img src="../static/Images/Icons/9022327_dots_three_duotone_icon.png" alt="" class="section-controls" id="favourite-stn-ctls">
                                </button>
                            </div>

                        </div>

                    {% endfor %}

                </div>

                <div id="search-favourites-wrapper" class="section-search-div">

                </div>

                
            </div>
        

        {% endif %}

        
        <!-- This section will display currently-watching movies -->
        {% if currently_watching %}
            <div class="currently-watching-section-wrapper">
                <h2 class="section-title"> Movies I am Currently Watching</h2>
                <div>
                    <p class="section-total">{{ currently_watching_movies|length }} Movies You are currently watching </p>
                    <div class="section-search-wrapper">
                        <input  autocomplete="off" autofocus placeholder="Search Currently Watching"  type="search" id="currentlyWatching-movie-search" class="section-search">
                        <button id="search-close" style="display: none"><img src="../static/Images/Icons/close.png" alt="close search" ></button>
                    </div>
                    

                </div>
               

                <p style="display: none;" id="currentlywatching-options-list">{{ json_currently_watching_options }}</p>

                <div id="currentlywatching-movie-display" class="section-display">
                    {% for dict_item in currently_watching_movies %}
                        <div class="movie-info-container">
                            <p style="display: none;" class="movie_data_id">{{dict_item["id"]}}</p>                                                      
                            <div class="movie-poster-div">
                                <img src="{{dict_item['movie_poster']}}" alt="movie poster" sizes="{{dict_item['movie_poster_sizes']}}" srcset="{{dict_item['movie_poster_set']}}">
                            </div>
                            <div class="movie-info">
                                <div class="movie_info_text">
                                    <div class="movie_info_title_wrapper">
                                        <h3 class="section-movie-title-no">{{ loop.index }}.</h3>
                                        <h3 class="section-movie-title">{{dict_item["movie_title"]}}</h3>
                                    </div>
                                    <p class="section-movie-year">{{dict_item["movie_year"]}}</p>
                                    <p class="section-movie-stars">{{dict_item["movie_stars"]}}</p>
                                </div>
                                <p class="route" style="display: none;">Currently Watching</p>
                                <button type="button" class="controls-btn">
                                    <img src="../static/Images/Icons/9022327_dots_three_duotone_icon.png" alt="" class="section-controls" id="currentlywatching-stn-ctls">
                                </button>
                            </div>

                        </div>

                    {% endfor %}
                </div>

                <div id="search-currentlyWatching-wrapper" class="section-search-div">

                </div>
            </div>
        {% endif %}  
        
        
        <!-- This section will display movies in watchlist -->
        {% if watchlist %}
            <div class="watchlist-section-wrapper">
                <h2 class="section-title"> Watch List </h2>
                <div>
                    <p class="section-total">{{ movies_in_watchlist|length }} Movies in your Watch List </p>
                    <div class="section-search-wrapper">
                        <input  autocomplete="off" autofocus placeholder="Search Watch List"  type="search" id="watchlist-movie-search" class="section-search">
                        <button id="search-close" style="display: none"><img src="../static/Images/Icons/close.png" alt="close search" ></button>
                    </div>
                  

                </div>
               

                <p style="display: none;" id="watchlist-options-list">{{ json_watchlist_options }}</p>

                <div id="watchlist-movie-display" class="section-display">
                    {% for dict_item in movies_in_watchlist %}
                        <div class="movie-info-container">
                            <p style="display: none;" class="movie_data_id">{{dict_item["id"]}}</p>                                                      
                            <div class="movie-poster-div">
                                <img src="{{dict_item['movie_poster']}}" alt="movie poster" sizes="{{dict_item['movie_poster_sizes']}}" srcset="{{dict_item['movie_poster_set']}}">
                            </div>
                            <div class="movie-info">
                                <div class="movie_info_text">
                                    <div class="movie_info_title_wrapper">
                                        <h3 class="section-movie-title-no">{{ loop.index }}.</h3>
                                        <h3 class="section-movie-title">{{dict_item["movie_title"]}}</h3>
                                    </div>
                                    <p class="section-movie-year">{{dict_item["movie_year"]}}</p>
                                    <p class="section-movie-stars">{{dict_item["movie_stars"]}}</p>
                                </div>
                                <p class="route" style="display: none;">Watch List</p>
                                <button type="button" class="controls-btn">
                                    <img src="../static/Images/Icons/9022327_dots_three_duotone_icon.png" alt="" class="section-controls" id="watchlist-stn-ctls">
                                </button>
                            </div>

                        </div>

                    {% endfor %}
                </div>

                <div id="search-watchlist-wrapper" class="section-search-div">

                </div>
            </div>
        {% endif %}  
        
        
        <!-- This section will display movie recommendations -->



        <!-- This section will display the movie buddies -->
         {% if movie_buddies_section %}
         <div class="moviebuddies-section-wrapper section-wrapper">
            <div class="movie-buddies-title-div">
                <h2 class="section-title movie-buddies-stn-title"> Movie Buddies </h2>
                <a href="/view_movie_buddyrequests">Movie Buddy Requests</a>
               


            </div>
            
                      
            <div>
                <!--<p class="section-total">{{ movie|length }} Movies Watched </p>-->
                <div class="section-search-wrapper">
                    <input  autocomplete="off" autofocus placeholder="Search for Movie Buddies"  type="search" id="movie-buddies-search" class="section-search">
                    <button id="search-close" style="display: none"><img src="../static/Images/Icons/close.png" alt="close search" ></button>
                </div>

                <div id="movie-buddies-display" class="section-display">
                    {% for dict_item in movie_buddies_list %}
                        <a href="#" class="view-buddy-notes">
                            <div class="movie-buddies-container">
                                <div class="movie-buddies-profile">
                                    <img class="movie-buddies-pic" src="{{dict_item['profile_pic']}}" alt="user profile icon">
                                </div>
                                <div class="movie-buddies-info">
                                    <p class="movie-buddies-id" style="display: none;">{{dict_item["id"]}}</p>
                                    <p class="movie-buddies-name">{{dict_item["name"]}}</p>
                                    <p class="movie-buddies-name">{{dict_item["user_name"]}} <span class="movie-buddies-status">&#x2022 {{dict_item["buddy_status"]}}</span></p>
                                </div>
    
                            </div>
                        </a>
                        
                    {% endfor%}
                </div>

                <div id="search-moviebuddies-wrapper" class="section-search-div" style="display: none;">

                </div>
              

            </div>
           


         </div>
         {% endif %}


        <!-- This section will display the movie buddies requests -->
         {% if view_movie_buddyrequests %}
         <h2>Movie buddy Requests </h2>
            {% for dict_item in movie_buddy_requests_list %}
                <div class="movie_buddyrequests_container">
                    <div class="movie-buddyrequest-profile">
                        <img src="../static/Images/Icons/user_profile.png" alt="user profile pic">
                    </div>
                    <div class="movie-buddyrequest-info">
                        <p class="movie-buddyrequest-id" style="display: none;">{{dict_item["id"]}}</p>
                        <p class="movie-buddyrequest-name">{{dict_item["name"]}}</p>
                        <p class="movie-buddyrequest-username">{{dict_item["user_name"]}} <button class="accept-buddyrequest" id="accept_buddyrequest_btn">Accept Movie Buddy Request</button> <button class="decline-buddyrequest" id="decline_buddyrequest_btn">Decline Movie Buddy Request</button></p>
                    </div>

                </div>
            {% endfor %}    

         {% endif %}


        <!-- This section will display the movie notes for your movie buddies -->
        {% if view_buddynotes %}
        
            <div class="movie_buddy_profile_container">
                    <div class="movie-buddyrequest-profile">
                        <img src="{{buddy_notes_info['profile_pic']}}" alt="user profile pic">
                    </div>
                    <div class="movie-buddyrequest-info">
                        <p class="movie-buddyrequest-id" id="buddy-notes-view-id" style="display: none;">{{buddy_notes_info["id"]}}</p>
                        <p class="movie-buddyrequest-name">{{buddy_notes_info["name"]}}</p>
                        <p class="movie-buddyrequest-username">{{buddy_notes_info["username"]}} </p>
                    </div>

            </div>
            
            <h2> View my Movie Notes </h2>   
            
            <ul class="buddy-notes-nav">
                <li><a href="#" class="buddy-notes-nav-item" id="buddy-notes-watched">Watched</a></li>
                <li><a href="#" class="buddy-notes-nav-item" id="buddy-notes-favourites">Favourites</a></li>
                <li><a href="#" class="buddy-notes-nav-item" id="buddy-notes-currently-watching">Currently Watching</a></li>
            </ul>

            <div class="buddy-notes-display">
                <p>See my watched notes</p>
            {% if view_buddy_watched or view_buddynotes %}
            <p style="display: none;" id="buddynotes-options-list" class="buddy-notes-options">{{ json_buddynotes_options }}</p>
                <p>See my watched notes</p>
                {% for dict_item in buddy_watched_notes %}
                    <div class="buddy-notes-container">
                        <p style="display: none;">{{dict_item["id"]}}</p>
                        <div class="buddy-notes-movieposter">
                            <img src="{{dict_item['movie_poster']}}" alt="movie poster" srcset="{{dict_item['movie_poster_set']}}">
                        </div>
                        <div class="buddy-notes-movieinfo">
                            <div class="buddy-notes-movieinfo-text">
                                <div class="buddy-notes-title-wrapper">
                                    <h3 class="buddy-notes-section-title-no">{{loop.index}}.</h3>
                                    <h3 class="buddy-notes-section-title">{{dict_item["movie_title"]}}</h3>
                                </div>
                                <p class="buddy-notes-movie-year">{{dict_item["movie_year"]}}</p>
                                <p class="buddy-notes-movie-stars">{{dict_item["movie_stars"]}}</p>          
                            </div>
                            <button type="button" class="controls-btn">
                                <img src="../static/Images/Icons/9022327_dots_three_duotone_icon.png" alt="" class="section-controls" id="buddy-watched-stn-ctls">
                            </button>
    
                        </div>

                    </div>
                
                {% endfor %}
            {% endif %}   

            {% if view_buddy_favourites %}
            <p style="display: none;" id="buddynotes-options-list" class="buddy-notes-options">{{ json_buddynotes_options }}</p>
                <p>See my watched notes</p>
                {% for dict_item in buddy_favourites_notes %}
                    <div class="buddy-notes-container">
                        <p style="display: none;">{{dict_item["id"]}}</p>
                        <div class="buddy-notes-movieposter">
                            <img src="{{dict_item['movie_poster']}}" alt="movie poster" srcset="{{dict_item['movie_poster_set']}}">
                        </div>
                        <div class="buddy-notes-movieinfo">
                            <div class="buddy-notes-movieinfo-text">
                                <div class="buddy-notes-title-wrapper">
                                    <h3 class="buddy-notes-section-title-no">{{loop.index}}.</h3>
                                    <h3 class="buddy-notes-section-title">{{dict_item["movie_title"]}}</h3>
                                </div>
                                <p class="buddy-notes-movie-year">{{dict_item["movie_year"]}}</p>
                                <p class="buddy-notes-movie-stars">{{dict_item["movie_stars"]}}</p>          
                            </div>
                            <button type="button" class="controls-btn">
                                <img src="../static/Images/Icons/9022327_dots_three_duotone_icon.png" alt="" class="section-controls" id="buddy-watched-stn-ctls">
                            </button>
    
                        </div>

                    </div>
                
                {% endfor %}
            {% endif %}   

            {% if view_buddy_currentlywatching %}
            <p style="display: none;" id="buddynotes-options-list" class="buddy-notes-options">{{ json_buddynotes_options }}</p>
                <p>See my watched notes</p>
                {% for dict_item in buddy_currentlywatching_notes %}
                    <div class="buddy-notes-container">
                        <p style="display: none;">{{dict_item["id"]}}</p>
                        <div class="buddy-notes-movieposter">
                            <img src="{{dict_item['movie_poster']}}" alt="movie poster" srcset="{{dict_item['movie_poster_set']}}">
                        </div>
                        <div class="buddy-notes-movieinfo">
                            <div class="buddy-notes-movieinfo-text">
                                <div class="buddy-notes-title-wrapper">
                                    <h3 class="buddy-notes-section-title-no">{{loop.index}}.</h3>
                                    <h3 class="buddy-notes-section-title">{{dict_item["movie_title"]}}</h3>
                                </div>
                                <p class="buddy-notes-movie-year">{{dict_item["movie_year"]}}</p>
                                <p class="buddy-notes-movie-stars">{{dict_item["movie_stars"]}}</p>          
                            </div>
                            <button type="button" class="controls-btn">
                                <img src="../static/Images/Icons/9022327_dots_three_duotone_icon.png" alt="" class="section-controls" id="buddy-watched-stn-ctls">
                            </button>
    
                        </div>

                    </div>
                
                {% endfor %}
            {% endif %}   
            </div>
      

        {% endif %}





    
    </div>

</div>

{% endblock %}