{% extends "layout.html" %}

{% block main %}

<div class="verification-nav"></div>
    {% if session.logged_in %}
    <a href="/" class="acc-update-nav-btn">Back to Home </a>
    {% else %} 
        <a href="/login" class="acc-update-nav-btn">Login</a>
    {% endif %}   
</div>

<div class="new-password-div">
    <div class="create-user-logo-div">
        <img src="../static/Images/Movie Notes-logo/Movie Notes (4).png" alt="" class="create-user-logo">
    </div>

    <h2 class="verification-title"> Reset Password </h2>

    <form action="/reset_password" method="POST" class="reset-password-form">
    {{ reset_password_form.csrf_token }}
      
        <label for="new_password" class="form-lbl" > {{reset_password_form.new_password.label}} </label>   
        {{ reset_password_form.new_password }}

        <ul class="password-guidelines-div" id="new-password-guidelines" style="display: none;">
            <li class="password-guideline"> Password must be contain atleast 8 characters </li>
            <li class="password-guideline"> Password must contain atleast one number </li>
            <li class="password-guideline"> Password must contain atleast one lowercase letter and one uppercase letter </li>
            <li class="password-guideline"> Password must contain atleast one special character </li>
        </ul>

        {% if reset_password_form.new_password.errors %}
            <ul class="errors">
                {% for error in reset_password_form.new_password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}            
            </ul>
       {% endif %} 

       <label for="verify_newpassword" class="form-lbl"> {{reset_password_form.verify_newpassword.label}} </label>   
        {{ reset_password_form.verify_newpassword }}

        <div class="password-toggle-div">
            <input type="checkbox" onclick="togglePassword(event, 'update-password-form-ctl')" class="password-toggle" id="create-user-password-toggle">
            <label for="" class="toggle-password-lbl">Show Password</label>
       </div>

        {% if reset_password_form.verify_newpassword.errors %}
            <ul class="errors">
                {% for error in reset_password_form.verify_newpassword.errors %}
                    <li>{{ error }}</li>
                {% endfor %}            
            </ul>
       {% endif %} 

       <button type="submit" class="reset-password-btn"> Reset Password </button>
    </form> 

</div>


{% endblock %}