{% extends "layout.html" %}

{% block main %}
<div class="user-dashboard-container">
    <div class="user-menu">
        <ul>
            <li><a href="{{ url_for('search_page')}}">Search</a></li>
           
        </ul>

        <ul>
            <li><a href="/watched">Watched </a></li>
            <li><a href="/favourites">Favourites</a></li>
            <li><a href="/watching">Currently watching</a></li>
            <li><a href="/watchlist">Watchlist </a></li>
            <li><a href="/recommendations">Recommendations</a></li>
            <li><a href="/movie_buddies">Movie buddies </a></li>
        </ul>

    </div>
       
    <div class="user-content">
        {% if search_page %}
            <input  autocomplete="off" autofocus placeholder="Search Movie"  type="text" id="searchInput">

            <h3 class="search-history" id="search-history"></h3>
            <ul class="movieList"></ul>

            <script>
                let timeoutId = null;
                let input = document.querySelector('input');
                input.addEventListener('input', function() {
                    clearTimeout(timeoutId);
                    timeoutId = setTimeout(async function() {
                        console.log("input")

                        // clear input field
                        document.querySelector(".movieList").innerHTML = '';
                        let response = await fetch('/search?q=' + input.value);
                        let movies = await response.json();
                        for (let id in movies) {
                            let title = movies[id].title.replace('<', '&lt;').replace('&', '&amp;');
                            console.log(title)
                            let year = movies[id].year;
                            let stars = movies[id].stars;
                            let poster = movies[id].poster;
                            let posterset = movies[id].posterset;
                            let movie_container_div = document.createElement("div");
                            movie_container_div.className = "movie-info-container";
                            let movie_info_text = document.createElement("div");
                            movie_info_text.className = "movie_info_text";
                            let movie_info_div = document.createElement("div")
                            movie_info_div.className = "movie-info"
                            let movie_title = document.createElement("h3");
                            movie_title.className = "search-movie-title";
                            movie_title.innerHTML = title;
                            let movie_year = document.createElement("p");
                            movie_year.className = "movie-year";
                            movie_year.innerHTML = year;
                            let movie_stars = document.createElement("p");
                            movie_stars.className = ("movie-stars");
                            movie_stars.innerHTML = stars;
                            let controls = document.createElement("img");
                            controls.className = "search-controls";
                            controls.src = "../static/Images/Icons/9022327_dots_three_duotone_icon.png";
                            let controls_btn = document.createElement("button");
                            controls_btn.type = "button";
                            controls_btn.className = "controls-btn";
                            controls_btn.appendChild(controls);

                           


                            let movie_poster_div = document.createElement("div");
                            movie_poster_div.className= ("movie-poster-div")
                            let movie_poster = document.createElement("img");
                            movie_poster.src = poster;
                            movie_poster.sizes = "50vw, (min-width: 480px) 34vw, (min-width: 600px) 26vw, (min-width: 1024px) 16vw, (min-width: 1280px) 16vw";
                            movie_poster.srcset = posterset;
                        
                            movie_poster_div.appendChild(movie_poster);
                            movie_info_text.appendChild(movie_title);
                            movie_info_text.appendChild(movie_year);
                            movie_info_text.appendChild(movie_stars);
                            movie_info_div.appendChild(movie_info_text);
                            movie_info_div.appendChild(controls_btn);
                        
                            movie_container_div.appendChild(movie_poster_div);
                            movie_container_div.appendChild(movie_info_div);
                        
                            document.querySelector(".movieList").appendChild(movie_container_div);
                        
                        }
                    }, 300);

                    let search = document.getElementById("searchInput");
                    console.log("Search is:" + search.value)
                
                    console.log
                
                    if (document.getElementById("searchInput").value == ""){
                            console.log("search input is empty")
                            let search_history = document.getElementById("search-history");
                            search_history.innerHTML = "Recent searches";
                        }
                    else {
                        let search_history = document.getElementById("search-history");
                        search_history.innerHTML = "";
                    }    
                
                
                });

            </script>

        <script>
           
            let isPopupVisible = false;
            let popup_menu;

            document.addEventListener('click', function(event) {
                if (event.target.matches('.search-controls')) {
                   
                    console.log("options button clicked");
                    if(isPopupVisible && !popup_menu.contains(event.target)) {
                        //remove popup menu
                        popup_menu.remove();
                        isPopupVisible = false;
                    }

                    else {
                            popup_menu = document.createElement("ul");
                            popup_menu.className = "popup_menu-list";
                            let popup_options = document.createElement("li");
                            popup_options.className = "popup-menu-li";
                            popup_options.innerHTML = "Watched";
                            popup_menu.appendChild(popup_options);

                            event.target.parentNode.parentNode.parentNode.insertAdjacentElement('afterend', popup_menu);
                            isPopupVisible = true;
                    }

                    
                }

            });

            
        
        </script>

      



    {% endif %}


    </div>

</div>

{% endblock %}