{% extends "layout.html" %}

{% block main %}
<div class="verification-nav"></div>
    {% if session.logged_in %}
    <a href="/" class="acc-update-nav-btn">Back to Home </a>
    {% else %} 
        <a href="/login" class="acc-update-nav-btn">Login</a>
    {% endif %}   
</div>

<div class="verify-account-div">

    <div class="create-user-logo-div">
        <img src="../static/Images/Movie Notes-logo/Movie Notes (4).png" alt="" class="create-user-logo">
    </div>

    <h2 class="verification-title"> Verify account </h2>
    <p class="verification-text"> Answer all 3 questions to verify you are owner of this account </p>

    <form action="/verify_account" method="POST" class="verify-account-form">
    {{ verify_account_form.csrf_token }}
        <label for="question-one" class="form-lbl"> {{verify_account_form.question_one.label}} </label>   
        {{ verify_account_form.question_one }}

        {% if verify_account_form.question_one.errors %}
            <ul class="errors">
                {% for error in verify_account_form.question_one.errors %}
                    <li>{{ error }}</li>
                {% endfor %}            
            </ul>
       {% endif %} 

       <label for="question-two" class="form-lbl"> {{verify_account_form.question_two.label}} </label>   
        {{ verify_account_form.question_two }}

        {% if verify_account_form.question_two.errors %}
            <ul class="errors">
                {% for error in verify_account_form.question_two.errors %}
                    <li>{{ error }}</li>
                {% endfor %}            
            </ul>
       {% endif %} 

       <label for="question-three" class="form-lbl"> {{verify_account_form.question_three.label}} </label>   
        {{ verify_account_form.question_three }}

        {% if verify_account_form.question_three.errors %}
            <ul class="errors">
                {% for error in verify_account_form.question_three.errors %}
                    <li>{{ error }}</li>
                {% endfor %}            
            </ul>
       {% endif %} 

       <button type="submit" class="verify-account-btn"> Verify account </button>



    </form> 


</div>

{% endblock %}